#bannerDiv {

  border: 10px solid rgb(82, 94, 224);
  margin-bottom: 5px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  background-color: rgb(25, 23, 93);
  color: white;
  text-align: center;
}

h2 {
  border: 5px solid rgb(82, 94, 224);
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  background-color: rgb(25, 23, 93);
  color: white;
  text-align: center;
}

#gridContainer {

  display: grid;
  grid-template-columns: 200px auto;
  padding: 10px;

}

.gridItem {

  margin-left: 10px;
  margin-right: 10px;


}

#recipeInput {

  padding: 5px;
  width: 94%;
  box-shadow: .5px .5px .5px;

}

#searchButton {

  background-color: rgb(65, 100, 229);
  color: white;
  box-shadow: 1px 1px 1px;
  margin-bottom: 5px;
  padding: 3px;

}


.gridItem2 {
  padding-left: 20px;
}

#apiDiv {

  width: 100%;
  background-color: rgb(10, 200, 200);
  color: white;

}

#recipeDivContainer {

  display: grid;
  display: flex;
  padding-left: 80px;
  padding-bottom: 40px;
  padding-top: 40px;
  grid-template-columns: auto auto auto auto auto;

}

.recipeDiv {
  margin: 40px;
  padding: 10px;
  border-color: white;
  background-color: #4164e5;
  color: white;
  align-items: center;
}



#lookingFor {
  height: 10rem;
  border-color: white;
  background-color: rgb(155, 173, 241);
  margin-right: 40px;
  margin-left: 40px;
  padding: 50px;
  color: white;
  text-align: center;
}

#allReady, #startOver {
  height: 10rem;
  border-color: white;
  background-color: rgb(73, 157, 222);
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 60px;
  padding: 50px;
  padding-bottom: 40px;
  color: white;
  text-align: center;

}

button {

  background-color: rgb(65, 100, 229);
  color: white;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: larger;
  align-items: center;
}

.asCheckbox {
  /* appearance: none;
  /* appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  */
  */

  /* Need to add CSS to indicate checked/selected radio button XXXXXX */
}

/* Formatting for results page */
.container {
  display: grid;
  grid-template-columns: auto;
  padding: 0px;}

/* @media (min-width: 576px) {
/* @media (min-width: 576px) {
    .container {
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 25%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 25%;
    }
}

@media (min-width: 1452px) {
    .container {
        max-width: 25%;
    }
} */

} */

.container{
  align-content: space-around;
}
.cell-3 {
  margin: 5px;
  padding: 5px;
  border-color: white;
  background-color: rgb(65, 100, 229);
  color: white;
  align-items: center;
}

#startOver {
  display:none;
}

.centered {
  text-align:center;
}